<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="test.mapper.MemberMapper">

    <!-- 로그인 정보 조회 -->
    <select id="loginCheck" parameterType="string" resultType="test.MemberDTO">
        SELECT 
            MEM_CODE AS memCode,
            MEM_ID   AS memId,
            MEM_PW   AS memPw
        FROM MEM
        WHERE MEM_ID = #{userId}
    </select>

</mapper>